.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.open {
  display: block;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 400px;
}

.modal-btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

.modal-title {
  margin-bottom: 30px;
}