@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

span {
  width: 100%;
}

.app {
  font-family: 'Open Sans', sans-serif;
  background: rgb(227, 224, 209);
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 600px;
  margin: 50px auto;
  background: rgb(238, 237, 234);
  border-radius: 20px;
  padding: 20px 50px;

}

input {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #586958;
  font-size: 16px;
}

li {
  color: rgb(25, 11, 11);
  font-size: 20px;
  list-style: none;
}

li>a {
  text-decoration: none;
  color: brown;
  margin-left: 30px;
}

.total-info {
  margin-top: 20px;
}